.container {
  height: 100%;
}

.background {
  z-index: -1;
  position: fixed;
  inset: -64px;
  transform: rotateZ(-4deg);
}

.background>div {
  position: absolute;
  inset: -64px;
  background: url('/img/background.png') repeat;
  filter: invert(95%);
}

.content {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: scroll;
}

.center {
  min-height: 100%;
  height: fit-content;
  text-align: center;
  background: #fff;
  padding: 40px;
  border-right: 2px solid #ddd;
  border-left: 2px solid #ddd;
}

.center>h1 {
  margin: 0 40px 20px 40px;
}

.contactButton {
  width: 400px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listing {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.listing>a,
.contactUs {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.listing>a:active,
.contactUs:active {
  transform: scale(0.98);
}

.listing>a {
  background: #f14c2e;
  padding: 12px 20px;
}

.listing>a:hover {
  background: #dd2f0f;
}

.details {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 16px;
}

.details>a {
  color: #2196f3;
  font-weight: bold;
  text-decoration: none;
}

.details>a:hover {
  color: #3f51b5;
  text-decoration: underline;
}

.details>p {
  color: #999;
  margin: 0;
  font-size: 12px;
}

.contactUs {
  background: #3aaaf2;
  padding: 20px;
  font-weight: bold;
}

.contactUs:hover {
  background: #0f97eb;
}

@media (max-width: 575.98px) {
  .center {
    padding: 40px 0;
    width: 100%;
    border: 0;
  }
}
