.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 85, 0.5) 0%,
    rgba(0, 0, 170, 0.5) 50%,
    rgba(0, 0, 255, 0.5) 100%
  );
  animation: back 10s linear infinite alternate;
}

@keyframes back {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.center {
  text-align: center;
  animation: text 4s linear infinite alternate;
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes wave {
  from {
    transform: translateY(-8px);
    opacity: 100%;
  }
  to {
    transform: translateY(8px);
    opacity: 100%;
    color: rgba(255, 255, 0, 1);
  }
}

@media (max-width: 767px) {
  .center > p {
    font-size: 48px;
  }
}

@media (max-width: 575px) {
  .center > p {
    font-size: 32px;
  }
}
