.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(120deg, rgba(2,0,36,0.5) 0%, rgba(9,78,121,0.5) 35%, rgba(0,212,255,0.5) 100%);
  animation: back 10s linear infinite alternate;
}

@keyframes back {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.center {
  text-align: center;
  animation: text 4s linear infinite alternate;
}

@keyframes text {
  from {
    text-shadow: 0 4px 4px #333;
  }
  to {
    text-shadow: 0 8px 8px #333;
  }
}

.center > h1 {
  font-size: 48px;
  margin: 0;
}
